// Navigation Styles here

.nav {
  .display-flex-jc();
  align-items: center;
  width: 75%;
  border-bottom: 2px dashed @navigation-border;
  margin: 0 auto;

  @media @mobile {
    width: 95%;
    flex-direction: column;
    text-align: center;
    padding: 5% 0 4%;
  }

  h1 {
    width: 100%;
    margin: 2% 0 2% 10%;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 5%;

    @media @mobile {
      width: 100%;
      justify-content: space-around;
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: @font-color;
      margin: 0 3%;
    }
  }
}
